header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 3% 5% 3% 5%;
}

#main-nav {
    display: inline;
}

#main-nav a {
    margin-left: 30px;
    color: var(--primary-color);
    font-size: 24px;
    text-decoration: none;
}

#main-nav > .active {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    #logo {
        width: 120px;
    }

    #main-nav a {
        font-size: 12px;
        margin-left: 20px;
    }
}
