/* global style */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', sans-serif;
}

main {
    padding: 0 5% 0 5%;
    box-sizing: border-box;
}

.main-section {
    margin: 20px 0 20px 0;
}

/* style for cards on homepage */

#cards {
    background-color: var(--boxes-bg-color);
    width: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 4%;
    box-sizing: border-box;
    row-gap: 30px;
    list-style: none;
    column-gap: 20px;
}

.card {
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 30%;
    height: 255px;
    position: relative;
    max-width: 255px;
}

.card::before {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
    );
    border-radius: 10px;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
}

@media screen and (max-width: 768px) {
    #cards {
        background-color: #fff;
        flex-direction: column;
        padding: 0;
    }

    .card {
        border-radius: 10px;
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #cards {
        flex-direction: row;
    }

    .card {
        width: 48%;
        max-width: 48%;
    }
}

/* style for logement page */

.logement-intro {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.logement-main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logement-title {
    font-size: 36px;
    color: var(--primary-color);
    margin-block-start: 0em;
    margin-block-end: 0.4em;
}

.logement-location {
    font-size: 18px;
    color: var(--primary-color);
    margin-block-start: 0em;
    margin-block-end: 1em;
}

.logement-host-rate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.host {
    display: flex;
    justify-content: flex-end;
}

.host-picture-container {
    width: 64px;
}

.host-picture {
    border-radius: 50%;
    width: 100%;
}

.host-name {
    font-size: 18px;
    width: 100px;
    margin-right: 10px;
    margin-block-start: 0em;
    color: var(--primary-color);
    text-align: right;
}

.logement-details {
    display: flex;
    justify-content: space-between;
}

.logement-details .box {
    width: 48%;
}

.logement-details h2 {
    font-size: 18px;
}

.logement-details .box-description {
    font-size: 18px;
    height: 90%;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .logement-main-info {
        margin-bottom: 20px;
    }

    .logement-intro {
        flex-direction: column;
    }

    .logement-title {
        font-size: 18px;
    }

    .logement-location {
        font-size: 14px;
    }

    .logement-host-rate {
        flex-direction: row-reverse;
    }
    .host-name {
        font-size: 12px;
        width: 60%;
    }

    .host-picture-container {
        width: 32px;
    }
    .logement-details {
        flex-direction: column;
    }
    .logement-details .box {
        width: 100%;
    }

    .logement-details h2 {
        font-size: 12px;
    }

    .logement-details .box-description {
        font-size: 12px;
    }
}

/* style for slideshow logement page */

.slideshow {
    width: 100%;
    height: 415px;
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .slideshow {
        height: 255px;
    }
}
