.box {
    width: 80%;
    margin-bottom: 30px;
}

.a-propos .box {
    margin-left: auto;
    margin-right: auto;
}

.box-header {
    display: flex;
    background-color: var(--primary-color);
    border-radius: 5px;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.box-title {
    font-size: 24px;
    color: white;
    font-weight: 500;
    margin: 0;
}

.box-opening-system {
    background-color: var(--primary-color);
    border: none;
}

.opening-button {
    transition: all 0.25s ease-out;
}

.closed-button {
    transform: rotate(180deg);
}

.box-description {
    font-size: 24px;
    color: var(--primary-color);
    background-color: var(--boxes-bg-color);
    font-weight: 400;
    border-radius: 5px;
    padding: 15px;
    padding-top: 25px;
    transition: all 0.25s ease-in-out;
}

.hidden-description {
    max-height: 0px;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    .box {
        width: 100%;
    }

    .box-title {
        font-size: 13px;
    }

    .box-description {
        font-size: 12px;
    }
}
